@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media (min-width: 1301px) {
    body{
        background-image: linear-gradient(to right ,  rgb(138, 220, 255) , rgb(208, 255, 160));
    }
    main{
        background-color: rgb(255, 255, 255);
        width:1000px;
        height:500px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
    }
    .imagem{
        position: relative;
        width: 50%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        float: right;
    }
    h1{
        text-align: center;
        margin-top: 120px;
        color: rgb(44, 44, 44);
        text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.138);
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    form > p > input{
        border: 1px solid rgb(148, 148, 148);
        border-radius: 5px;
        height: 30px;
        width: 80%;
        margin-left: 10px;
    }
    form > p{
        width: 80%;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 10px;
    }
    .btn-login{
        margin-top: 20px;
        margin-left: 20px;
        width: 50%;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: rgb(201, 154, 88);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}
@media (min-width: 1001px) and (max-width: 1300px) {
    body{
        background-image: linear-gradient(to right ,  rgb(208, 255, 160) , rgb(254, 237, 184));
    }
    main{
        background-color: rgb(255, 255, 255);
        width:800px;
        height:400px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
    }
    .imagem{
        position: relative;
        width: 50%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        float: left;
    }
    h1{
        text-align: center;
        margin-top: 70px;
        color: rgb(44, 44, 44);
        text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.138);
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    form > p > input{
        border: 1px solid rgb(148, 148, 148);
        border-radius: 5px;
        height: 30px;
        width: 80%;
        margin-left: 10px;
    }
    form > p{
        width: 80%;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 10px;
    }
    .btn-login{
        margin-top: 20px;
        margin-left: 20px;
        width: 50%;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: rgb(44, 68, 255);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}
@media (min-width: 701px) and (max-width: 1000px) {
    body{
        background-image: linear-gradient(to right ,  rgb(254, 237, 184) , rgb(138, 220, 255));
    }
    main{
        background-color: rgb(255, 255, 255);
        width:400px;
        height:600px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
    }
    .imagem{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    h1{
        text-align: center;
        margin: 20px;
        color: rgb(44, 44, 44);
        text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.138);
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    form > p > input{
        border: 1px solid rgb(148, 148, 148);
        border-radius: 5px;
        height: 30px;
        width: 80%;
        margin-left: 10px;
    }
    form > p{
        width: 80%;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 10px;
    }
    .btn-login{
        margin-top: 20px;
        margin-left: 20px;
        width: 50%;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: rgb(44, 68, 255);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}
@media (min-width: 411px) and (max-width: 700px) {
    body{
        background-color: rgb(225, 217, 166);
    }
    main{
        background-color: rgb(255, 255, 255);
        width:350px;
        height:600px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
    }
    .imagem{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    h1{
        text-align: center;
        margin: 20px;
        color: rgb(44, 44, 44);
        text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.138);
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    form > p > input{
        border: 1px solid rgb(148, 148, 148);
        border-radius: 5px;
        height: 30px;
        width: 80%;
        margin-left: 10px;
    }
    form > p{
        width: 80%;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 10px;
    }
    .btn-login{
        margin-top: 20px;
        margin-left: 20px;
        width: 50%;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: rgb(44, 68, 255);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}
@media (max-width: 410px) {
    body{
        background-color: rgb(166, 225, 225);
    }
    .imagem{
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    main{
        background-color: rgb(255, 255, 255);
        width:300px;
        height:600px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.274);
    }
    h1{
        text-align: center;
        margin: 20px;
        color: rgb(44, 44, 44);
        text-shadow: 2px 2px 3px rgba(100, 100, 100, 0.138);
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    form > p > input{
        border: 1px solid rgb(148, 148, 148);
        border-radius: 5px;
        height: 30px;
        width: 80%;
        margin-left: 10px;
    }
    form > p{
        width: 80%;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border-radius: 10px;
    }
    .btn-login{
        margin-top: 20px;
        margin-left: 20px;
        width: 50%;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: rgb(44, 68, 255);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}